<!--
<h1> Bienvenido a Critter </h1>
<h3> ¿Qué desea hacer? </h3>
<ul>
  
  <li> <%= link_to "Listado de Monstruos", monstruos_path %></li>
  <li> <%= link_to "Ver el primer monstruo", ver_monstruos_path %></li>
  
</ul>
-->

<!-- punto8 -->
<h1> Bienvenido a Critter </h1>
<h3> ¿Qué desea hacer? </h3>
<div class="container">
	<div class="row">
		<div class="col-md-6"> Acerca de: <%= link_to "Listado de Monstruos", monstruos_path %> </div>
		<div class="col-md-6"> Links: <%= link_to "Ver el primer monstruo", ver_monstruos_path %> </div>
		<div class="col-md-12"> info aca </div>
	</div>
</div>
