<!------------------------------------------------------ 
Acá va a ir el listado de monstruos usando los tags  
<ul> y <li>.
Debe tener un título y mostrar el nombre (en negrita) y
la descripción.
------------------------------------------------------>

HACER <br>
/app/views/monstruos/index.html.erb

<!-- punto2 -->
<ul>
	<% Monstruo.all.each do |monstruo| %>
	<li> <strong> Nombre: </strong> <a href= "/monstruos/<%= monstruo.id %>"> <%= monstruo.nombre %>. </a>
		<!-- punto4 
		<% if monstruo.tweets.count > 1 %>
			<p style="color:red;"> Twitero destacado! </p> -->
		<!-- punto5, esta definido en app/assets/stylesheets/monstruos.css.scss-->
		<% if monstruo.tweets.count > 1 %>
			<p class="destacado"> Twitero destacado! </p>
		<strong> Descripcion: </strong> <%= monstruo.descripción %> 
		<!-- punto6 
		<a href="localhost:3000/monstruos"> ELIMINAR </a> -->
		<!-- punto7 -->
		<button type="button" class="btn btn-danger">ELIMINAR</button>
	</li>
</ul>
