Ver un monstruo <br>
/app/views/monstruos/show.html.erb

<!-----------punto3 ------->
<% monstruo=Monstruo.find (params[:id]) %>
<h2> <%= monstruo.nombre %> </h2>
<h1> <%= monstruo.descripcion %> </h1>
<div>
	<img src="/assets/images/monstruo1.jpg" />
</div>