<!------------------------------------------------------ 
Debe mostrarse la información del primer monstruo sin
usar el id.
Se debe mostrar el nombre (como título) y la descripción 
(como párrafo).
------------------------------------------------------>

HACER <br>
/app/views/monstruos/ver.html.erb

<!-- punto1 -->
<% monstruo=Monstruo.find(1) %>
<h1> <%= monstruo.nombre %> </h1>
<p> <%= monstruo.descripción %> </p>